/* 언어설정 */
@charset 'utf-8';

/* Reset CSS */

* {margin: 0;
    padding: 0;}

ul,ol {list-style: none;}

a {text-decoration: none;
    color: #fff;}

img {border: none;
    vertical-align: bottom;}

body {font-family: "Intensa Fuente", sans-serif;}

@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GangwonEduModu-Light';
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/GangwonEduModu/GangwonEduModu-Light.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/GangwonEduModu/GangwonEduModu-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
            
/* wrap 설정 */
#wrap {position: relative;
    perspective: 800px;  /* 700 ~ 900이 가장 이상적임 */
    overflow: hidden;}  

/* nav 설정 */
nav {position: fixed;
width: 192px;
left: 50px;
top: 50%;
margin-top: -190px;
z-index: 999;
opacity: 0;
transition: all 1.5s;}

nav.on {opacity: 1;}

nav ul {}

nav li {width: 192px;
    height: 50px;
    line-height: 2.5;
    transition: all 0.5s;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 35px;
    margin-bottom: 15px;
    color: #fff;}

nav li:hover {font-size: 35px;
            color: #fff;
            text-shadow: 0px 0px 30px #FFE500;}
            
nav li.on {font-size: 35px;
        color: #fff;
        text-shadow: 0px 0px 30px #FFE500;}                

/* section 설정 */

#wrap>div {width: 100%;
  
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;}


/* 박스 1 설정 */
.box1 {}
.box1 .inner1 {position: relative;}
.box1 .inner1 .mbg {width: 100%;
                    height: 100vh;}

.box1 .inner1 .dismain {position: absolute;
                        bottom: 50px;
                        left: 0;
                        margin-left: 150px;
                        transform: translateX(-300%);
                        transition: all 1.5s;}

.box1 .inner1 .dismain.on {transform: translateX(50px);}


.box1 .inner1 .jmain {position: absolute;
                        top: 0;
                        left: 350px;
                        transform: translateY(-300%);
                        transition: all 1.5s;}

.box1 .inner1 .jmain.on {transform: translateY(0);}

.box1 .inner1 .amain {position: absolute;
                        bottom: 30px;
                        left: 50%;
                        margin-left: -100px;
                        transform: translateY(300%);
                        transition: all 1.5s;}

.box1 .inner1 .amain.on {transform: translateY(0);}

.box1 .inner1 .smain {position: absolute;
                        bottom: 100px;
                        right: 300px;
                        transform: translateY(-300%);
                        transition: all 1.5s;}

.box1 .inner1 .smain.on {transform: translateY(0);}

.box1 .inner1 .fmain {position: absolute;
                        bottom: 200px;
                        right: 0;
                        transform: translateX(300%);
                        transition: all 1.5s;}

.box1 .inner1 .fmain.on {transform: translateX(0);}


/* 박스2 설정 */
.box2 {position: relative;
        width: 100%;
        height: 100vh;
        background-color: #120040;
        z-index: 60;}

.box2 .introimg {position: absolute;
                    top: 150px;
                    right: 100px;
                    opacity: 0.4;}

.box2 .introtxt {width: 871px;
                height: 784px;
                position: absolute;
                top: 50%;
                margin-top: -250px;
                right: 50%;
                margin-right: -200px;
                font-family: 'GangwonEduModu-Light';
                text-shadow: 0px 0px 20px #fff;
                font-size: 25px;
                text-align: center;
                line-height: 1.5;}


/* 박스3 설정 */
.box3 {}

.box3 .inner {position: relative;}


/* 박스3 메인설정 */
.box3 .main {display: none;}

.box3 .main.on {display: block;}

.box3 .inner .main .bg1 {width: 100%;
                        height: 100vh;}

.box3 .main img {}

.box3 .main .maininner {}

.box3 .main .maininner img {}

.box3 .main .maininner img:nth-child(1) {width: 253px;
                                        height: 497px;
                                        position: absolute;
                                        bottom: 50px;
                                        left: 0;
                                        margin-left: 300px;
                                        cursor: pointer;}

.box3 .main .maininner img:nth-child(2) {width: 184px;
                                        height: 295px;
                                        position: absolute;
                                        bottom: 50px;
                                        left: 50%;
                                        margin-left: -360px;
                                        cursor: pointer;}

.box3 .main .maininner img:nth-child(3) {width: 272px;
                                        height: 240px;
                                        position: absolute;
                                        bottom: 50px;
                                        left: 50%;
                                        margin-left: -136px;
                                        cursor: pointer;}

.box3 .main .maininner img:nth-child(4) {width: 215px;
                                        height: 329px;
                                        position: absolute;
                                        bottom: 50px;
                                        right: 50%;
                                        margin-right: -360px;
                                        cursor: pointer;}

.box3 .main .maininner img:nth-child(5) {width: 189px;
                                        height: 357px;
                                        position: absolute;
                                        bottom: 50px;
                                        right: 0;
                                        margin-right: 400px;
                                        cursor: pointer;}








/* 서브1 설정 ###############################################################################################################*/
.box3 .inner .sub1 {display: none;
                    position: relative;
                    width: 100%;
                    height: 100vh;}

.box3 .inner .sub1.on {display: block;}


.box3 .inner .sub1 .bg2 {width: 100%;
                        height: 100vh;
                        object-fit: cover;}

.box3 .inner .sub1 .name {position: absolute;
                            top: 50px;
                            left: 50%;
                            margin-left: -380px;}

.sub1.on .subinner img:nth-child(1) {display: none;}

.sub1.on .big1 {display: block;}
                                                        
.sub1 .big1 {position: absolute;
            bottom: -20px;
            left: 0;
            pointer-events: none;}


.box3 .inner .sub1 .txt {font-size: 36px;}

.box3 .inner .sub1 .txt p {display: block;
                            position: absolute;
                            top: 50%;
                            margin-top: -200px;
                            right: 450px;
                            text-align: center;
                            line-height: 1.8;
                            font-family: 'GangwonEdu_OTFBoldA';}

.box3 .inner .sub1 .txt span {display: block;
                                position: absolute;
                                top: 50%;
                                margin-top: -20px;
                                right: 50%;
                                margin-right: -380px;
                                font-family: 'GangwonEduModu-Light', sans-serif;
                                text-shadow: 0px 0px 20px #FFE500;}


/* 서브2 설정 */
.box3 .inner .sub2 {display: none;
                    position: relative;
                    width: 100%;
                    height: 100vh;}

.box3 .inner .sub2.on {display: block;}

.box3 .inner .sub2 .bg3 {width: 100%;
                    height: 100vh;
                    object-fit: cover;}

.box3 .inner .sub2 .name {position: absolute;
                            top: 50px;
                            left: 50%;
                            margin-left: 50px;}

.sub2.on .subinner img:nth-child(2) {display: none;}

.sub2.on .big2 {display: block;}
                                                        
.sub2 .big2 {position: absolute;
            bottom: 50px;
            left: 0;
            margin-left: 400px;
            pointer-events: none;}

.box3 .inner .sub2 .txt {font-size: 36px;}

.box3 .inner .sub2 .txt p {display: block;
                            position: absolute;
                            top: 50%;
                            margin-top: -200px;
                            right: 150px;
                            text-align: center;
                            line-height: 1.8;
                            font-family: 'GangwonEdu_OTFBoldA';}
                        
.box3 .inner .sub2 .txt span {display: block;
                                position: absolute;
                                top: 50%;
                                margin-top: -20px;
                                right: 160px;
                                font-family: 'GangwonEduModu-Light', sans-serif;
                                text-shadow: 0px 0px 20px #00B2FF;}





/* 서브3 설정 */
.box3 .inner .sub3 {display: none;
                    position: relative;
                    width: 100%;
                    height: 100vh;}

.box3 .inner .sub3.on {display: block;}

.box3 .inner .sub3 .bg4 {width: 100%;
                        height: 100vh;
                        object-fit: cover;}

.box3 .inner .sub3 .name {position: absolute;
                            top: 30px;
                            left: 50%;
                            margin-left: -250px;}

.sub3.on .subinner img:nth-child(3) {display: none;}

.sub3.on .big3 {display: block;}
                            
.sub3 .big3 {position: absolute;
            bottom: -10px;
            right: 50%;
            margin-right: -450px;
            pointer-events: none;}
      
.box3 .inner .sub3 .txt {font-size: 36px;}

.box3 .inner .sub3 .txt p {display: block;
                            position: absolute;
                            top: 0;
                            margin-top: 250px;
                            right: 0;
                            margin-right: 100px;
                            text-align: center;
                            line-height: 1.8;
                            font-family: 'GangwonEdu_OTFBoldA';}
                                                                        
.box3 .inner .sub3 .txt span {display: block;
                                position: absolute;
                                top: 50%;
                                right: 160px;
                                font-family: 'GangwonEduModu-Light', sans-serif;
                                text-shadow: 0px 0px 20px #FF0000;}



/* 서브4 설정 */
.box3 .inner .sub4 {display: none;
                    position: relative;
                    width: 100%;
                    height: 100vh;}

.box3 .inner .sub4.on {display: block;}


.box3 .inner .sub4 .bg5 {width: 100%;
                        height: 100vh;
                        object-fit: cover;}

.box3 .inner .sub4 .name {position: absolute;
                            top: 50px;
                            left: 50%;
                            margin-left: -350px;}

.sub4.on .subinner img:nth-child(4) {display: none;}

.sub4.on .big4 {display: block;}
                            
.sub4 .big4 {position: absolute;
            bottom: 20px;
            right: 120px;
            pointer-events: none;}

.box3 .inner .sub4 .txt {font-size: 36px;}

.box3 .inner .sub4 .txt p {display: block;
                            position: absolute;
                            top: 50%;
                            margin-top: -200px;
                            right: 50%;
                            margin-right: -200px;
                            text-align: center;
                            line-height: 1.8;
                            font-family: 'GangwonEdu_OTFBoldA';}
                                                                            
.box3 .inner .sub4 .txt span {display: block;
                                position: absolute;
                                top: 50%;
                                right: 50%;
                                margin-right: -150px;
                                font-family: 'GangwonEduModu-Light', sans-serif;
                                text-shadow: 0px 0px 20px #62FF3A;}



/* 서브5 설정 */
.box3 .inner .sub5 {display: none;
                    position: relative;
                    width: 100%;
                    height: 100vh;}

.box3 .inner .sub5.on {display: block;}

.box3 .inner .sub5 .bg6 {width: 100%;
                        height: 100vh;
                        object-fit: cover;}

.box3 .inner .sub5 .name {position: absolute;
                            top: 50px;
                            left: 50%;
                            margin-left: -350px;}

.sub5.on .subinner img:nth-child(5) {display: none;}

.sub5.on .big5 {display: block;}

.sub5 .big5 {position: absolute;
            bottom: -30px;
            right: 0;
            pointer-events: none;}


.box3 .inner .sub5 .txt {font-size: 36px;}

.box3 .inner .sub5 .txt p {display: block;
                            position: absolute;
                            top: 0;
                            margin-top: 280px;
                            right: 50%;
                            margin-right: -270px;
                            text-align: center;
                            line-height: 1.8;
                            font-family: 'GangwonEdu_OTFBoldA';}
                                                                        
.box3 .inner .sub5 .txt span {display: block;
                                position: absolute;
                                top: 50%;
                                right: 50%;
                                margin-right: -220px;
                                font-family: 'GangwonEduModu-Light', sans-serif;
                                text-shadow: 0px 0px 20px #BD00FF;}




/* 서브 공동설정 */

.subinner>img:nth-child(1) {position: absolute;
                            bottom: 50px;
                            left: 0;
                            margin-left: 200px;
                            cursor: pointer;}
                            
.subinner>img:nth-child(2) {position: absolute;
                            bottom: 50px;
                            left: 50%;
                            margin-left: -400px;
                            cursor: pointer;}

.subinner>img:nth-child(3) {position: absolute;
                            bottom: 50px;
                            left: 50%;
                            margin-left: -50px;
                            cursor: pointer;}

.subinner>img:nth-child(4) {position: absolute;
                            bottom: 50px;
                            right: 0;
                            margin-right: 360px;
                            cursor: pointer;}

.subinner>img:nth-child(5) {position: absolute;
                            bottom: 50px;
                            right: 50px;
                            cursor: pointer;}


/* box4 설정 */

.box4 {width: 100%;
        background-color: #0C0029;
        position: relative;}

.box4 .imgBox img {position: absolute;
                    bottom: 0;
                    left: 50%;
                    margin-left: -488px;}




.box4 .vid {width: 1000px; /* 부모 크기 고정 */
            height: auto;
            opacity: 1;
            position: absolute;
            top: 50%;
            margin-top: -320px;}

.box4 .vid.on {transition: all 1.8s;
            animation: video 5s;}

        
.box4 .vid video {width: 100%;
                    height: auto;
                    display: block;}
        

@keyframes video {

    0% {transform: scale(0);}
    
    100% {transform: scale(1);}
}





/* box5 설정 */

.box5 {}
.box5 .inner5 {position: relative;}
.box5 .inner5 .eggbg {
  width: 100%;
  height: 100vh;
}
.box5 .inner5 .ball {}

.box5 .inner5 .ball img {
  cursor: pointer;
}

.box5 .inner5 .ball1 img {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 280px;
  margin-left: 400px;
  cursor: pointer;
}
.box5 .inner5 .ball2 img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -280px;
  cursor: pointer;
}
.box5 .inner5 .ball3 img {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -200px;
  margin-right: -460px;
}
.box5 .inner5 .ball4 img {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -20px;
  margin-right: -340px;
  cursor: pointer;
}
.box5 .inner5 .ball5 img {
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: 70px;
  margin-left: -480px;
  cursor: pointer;
}
.box5 .inner5 .ball6 img {
  position: absolute;
  top: 0;
  right: 50%;
  margin-top: 75px;
  margin-right: -450px;
  cursor: pointer;
}
.box5 .inner5 .cen img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -70px;
}

.box5 .inner5 .pic {width: 600px;
                    height: 100vh;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    margin-left: -420px;
                    pointer-events: none;
                    opacity: 1;}

.pic .pic1 .picwrap {width: 100%;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -180px;
            margin-top: -130px;
            pointer-events: none;
            opacity: 0;
            }

.pic .pic2 .picwrap {width: 100%;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -180px;
            margin-top: -130px;
            pointer-events: none;
            opacity: 0;}

.pic .pic3 .picwrap {width: 100%;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -180px;
            margin-top: -130px;
            pointer-events: none;
            opacity: 0;}

.pic .pic4 .picwrap {width: 100%;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -180px;
            margin-top: -130px;
            pointer-events: none;
            opacity: 0;}

.pic .pic5 .picwrap {width: 100%;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -180px;
            margin-top: -130px;
            pointer-events: none;
            opacity: 0;}

.pic .pic6 .picwrap {width: 100%;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -180px;
            margin-top: -130px;
            pointer-events: none;
            opacity: 0;}


/* 이미지별 margin-top 개별 조정 */
.box5 .inner5 .pic .pic1,
.box5 .inner5 .pic .pic2 {
  margin-top: 50px;
}
.box5 .inner5 .pic .pic5,
.box5 .inner5 .pic .pic6 {
  margin-top: 40px;
}

.pic1.on,
.pic2.on,
.pic3.on,
.pic4.on,
.pic5.on,
.pic6.on {
  z-index: 100;
  opacity: 1;
  pointer-events: auto;
}

.pic1.on .picwrap {transform: scale(1);
                    opacity: 1;
                    visibility: visible;
                    z-index: 100;
                    animation: egg 1s ease forwards;}

.pic2.on .picwrap {transform: scale(1);
                    opacity: 1;
                    visibility: visible;
                    z-index: 100;
                    animation: egg 1s ease forwards;}

.pic3.on .picwrap {transform: scale(1);
                    opacity: 1;
                    visibility: visible;
                    z-index: 100;
                    animation: egg 1s ease forwards;}

.pic4.on .picwrap {transform: scale(1);
                    opacity: 1;
                    visibility: visible;
                    z-index: 100;
                    animation: egg 1s ease forwards;}

.pic5.on .picwrap {transform: scale(1);
                    opacity: 1;
                    visibility: visible;
                    z-index: 100;
                    animation: egg 1s ease forwards;}

.pic6.on .picwrap {transform: scale(1);
                    opacity: 1;
                    visibility: visible;
                    z-index: 100;
                    animation: egg 1s ease forwards;}

.picwrap {transform: scale(0);
            opacity: 1;
            visibility: hidden;
            transition: transform 1s ease, opacity 1s ease;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;}

.box5 .inner5 .txtBox {}

.box5 .inner5 .txtBox .txt1 {position: absolute;
                            right: 50px;
                            top: 50%;
                            font-family: 'GangwonEdu_OTFBoldA';
                            font-size: 29px;
                            text-align: center;
                            opacity: 0;
                            line-height: 1.8;
                            margin-top: -100px;}
    
.box5 .inner5 .txtBox .txt2 {position: absolute;
                                right: 70px;
                                top: 50%;
                                font-family: 'GangwonEdu_OTFBoldA';
                                font-size: 29px;
                                text-align: center;
                                opacity: 0;
                                line-height: 1.5;
                                margin-top: -100px;}

.box5 .inner5 .txtBox .txt3 {position: absolute;
                                right: 20px;
                                top: 50%;
                                font-family: 'GangwonEdu_OTFBoldA';
                                font-size: 29px;
                                text-align: center;
                                opacity: 0;
                                line-height: 1.5;
                                margin-top: -100px;}

.box5 .inner5 .txtBox .txt4 {position: absolute;
                                right: 35px;
                                top: 50%;
                                font-family: 'GangwonEdu_OTFBoldA';
                                font-size: 29px;
                                text-align: center;
                                opacity: 0;
                                line-height: 1.5;
                                margin-top: -100px;}

.box5 .inner5 .txtBox .txt5 {position: absolute;
                            right: 20px;
                            top: 50%;
                            font-family: 'GangwonEdu_OTFBoldA';
                            font-size: 29px;
                            text-align: center;
                            opacity: 0;
                            line-height: 1.5;
                            margin-top: -100px;}

.box5 .inner5 .txtBox .txt6 {position: absolute;
                                right: 50px;
                                top: 50%;
                                font-family: 'GangwonEdu_OTFBoldA';
                                font-size: 29px;
                                text-align: center;
                                opacity: 0;
                                line-height: 1.5;
                                margin-top: -100px;}

.box5 .inner5 .txtBox .txt4 {margin-top: -50px;
                              line-height: 1.8;}
                              
.box5 .inner5 .txtBox .txt5 {margin-top: -50px;
                              line-height: 1.8;}

.box5 .inner5 .txtBox .txt6 {margin-top: -80px;
                              line-height: 1.8;}

.box5 .inner5 .txtBox .txt1.on {opacity: 1;}
.box5 .inner5 .txtBox .txt2.on {opacity: 1;}
.box5 .inner5 .txtBox .txt3.on {opacity: 1;}
.box5 .inner5 .txtBox .txt4.on {opacity: 1;}
.box5 .inner5 .txtBox .txt5.on {opacity: 1;}
.box5 .inner5 .txtBox .txt6.on {opacity: 1;}

@keyframes egg {
  0% {
    transform: scale(0);
    transform-origin: center center;
  }
  100% {
    transform: scale(1);
    transform-origin: center center;
  }
}




/* box6 설정 */

.box6 {position: relative;
        overflow: hidden;}
.box6 video {width: 100%;}
.box6 img {width: 551px;
            height: 5686px;}

.imgbar {width: 551px;
        height: 20px;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -276px;
        background-color: #000;}

.imginner {position: absolute;
          top: 0;
          left: 50%;
          margin-left: -276px;
          animation: ani 30s linear infinite;
          display: flex;
          flex-direction: column;
          cursor: pointer;}

.imginner:hover {animation-play-state: paused;}

@keyframes ani {

    0% {transform: translateY(0);}

    100% {transform: translateY(-5686px);}
}




































