/* 언어설정 */
@charset 'UTF-8';

/* Reset CSS */
* {margin: 0;
        padding: 0;}

a {text-decoration: none;
        color: #000;
        outline: none;}

ul,ol {list-style: none;}

img {vertical-align: bottom;
        border: none;}

body {overflow-x: hidden;}

/* layout */

.header {width: 100%;
        height: 80px;
        position: fixed;
        z-index: 999;}

.contents {perspective: 1500px;}

.contents>div {display: block;}

/* .contents>div.on {display: block;} */


/* 헤더설정 */
.header {display: flex;
        justify-content: space-between;
        align-items: center;
        height: 120px;
        transition: all 0.8s;}

.header .logo {font-size: 28px;}

.header .logo a {color: #fff;
                display: block;
                padding: 10px;}

.header .logo a:hover {opacity: 0.7;}


/* 일정 거리만큼 스크롤이 되었을 때 헤더 스타일 변경 */

.header.fixed {background-color: rgba(0, 0, 0, 0.3);}

.gnb {}

.gnb>ul {display: flex;}

.gnb>ul>li {}

.gnb>ul>li>a {display: block;
                color: #fff;
                font-size: 18px;
                padding: 10px;}

.gnb>ul>li>a:hover {color: #ccc;}


.util {margin-right: 50px;}

.util ul {display: flex;}

.util li {}

.util a {display: block;
        color: #fff;
        padding: 10px;
        position: relative;}

.util a:hover {color: #ccc;}

.util span {display: inline-block;
        text-indent: -9999px;}

.util .num {position: absolute;
        width: 12px;
        height: 12px;
        background-color: darksalmon;
        font-size: 10px;
        right: 2px;
        top: 5px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;}






/* 메인페이지설정 */

/* hero설정 */
.hero {width: 100%;
        height: 100vh;
        position: relative;}

.mainImg {width: 100%;
        height: 100%;
        overflow: hidden;}

.mainImg ul {width: 100%;
                height: 100%;
                position: relative;}

.mainImg li {position: absolute;
                width: 100%;
                height: 100%;
                left: 100%;}

.mainImg li:nth-child(1) {left: 0;}

.mainImg img {width: 100%;}

.btn {width: 80px;
        position: absolute;
        bottom: 50px;
        left: 50%;
        margin-left: -40px;}

.btn ul {width: 100%;
        display: flex;
        justify-content: space-between;}

.btn li {width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #fff;
        text-indent: -9999px;}

.btn li.on {background-color: #ccc;}



/* info설정 */

.info {padding: 50px 0;}

.info h2 {font-size: 60px;
        text-align: center;
        letter-spacing: 20px;
        position: relative;
        padding: 20px 0 0 0;
        transition: all 1.2s;
        top: 300px;
        opacity: 0;}

.info.on h2 {top: 0;
                opacity: 1;}

.info h2 span {font-size: 18px;
                letter-spacing: 5px;
                position: absolute;
                left: 50%;
                margin-left: -120px;
                top: 0;}

.info p {text-align: center;
        padding: 30px 0;}

.info .list {position: relative;
                right: -500px;
                opacity: 0;}

.info .list.on {right: 0;
                opacity: 1;
                transition: all 1.2s;}

.info .list ul {display: flex;
                justify-content: center;}

.info .list li {margin: 0 10px;
                width: 200px;}

.info .list img {width: 100%;
                height: auto;
                position: relative;
                z-index: 2;
                transition: all 0.5s;}


.info .list .text {width: 100%;
                text-align: center;
                transition: all 0.8s;
                transform: translateY(-200px);
                position: relative;
                opacity: 0;
                height: 100%;}

.info .list li:hover .text {transform: translateY(0);
                        opacity: 1;}

.info .list li:hover img {outline: 3px dotted red;
                        outline-offset: -10px;}


                        
/* 회전축 이용해서 돌기 */


.info .list2 {position: relative;
                left: -500px;
                opacity: 0;}

.info .list2.on {left: 0;
                opacity: 1;
                transition: all 1.2s;}


.info .list2 ul {display: flex;
                justify-content: center;}

.info .list2 li {margin: 0 10px;
                width: 200px;
                position: relative;}

.info .list2 img {width: 100%;
                height: auto;
                position: relative;
                z-index: 2;
                transition: all 0.8s;}


.info .list2 .text {width: 100%;
                text-align: center;
                transition: all 0.8s;
                transform: rotateY(180deg);
                position: absolute;
                opacity: 0;
                height: 300px;
                background-color: red;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                left: 0;
                top: 0;}

.info .list2 li:hover .text {opacity: 1;
                        transform: rotateY(0);}

.info .list2 li:hover img {opacity: 0;
                        transform: rotateY(180deg);}

/* 제품리스트설정 */
.pro {}

.pro h2 {font-size: 60px;
        text-align: center;
        letter-spacing: 20px;
        position: relative;
        padding: 20px 0 0 0;}

.pro p {text-align: center;
        padding: 30px 0;}

.pro_list {background-color: red;
        width: 80%;
        margin: 0 auto;
        position: relative;
        height: 200px;
        display: flex;
        justify-content: center;}

.pro_list .left {position: absolute;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: #ccc;
                color: #fff;
                font-size: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                left: 0;
                top: 50%;
                margin-top: -10px;}

.pro_list .right {position: absolute;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: #ccc;
                color: #fff;
                font-size: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                right: 0;
                top: 50%;
                margin-top: -10px;}

.pro_list .container {background-color: yellow;
                        width: calc(220px * 4);
                        height: 200px;
                        overflow: hidden;
                        position: relative;}

.pro_list .container ul {display: flex;
                        position: absolute;
                        left: 0;
                        top: 0;}

.pro_list .container li {margin: 0 10px;
                        width: 200px;
                        cursor: pointer;}

.pro_list .container li .imgcon {cursor: pointer;}

.container .imgcon img {cursor: pointer;}
.container .imgcon .img_box img {cursor: pointer;}


/* 흘러가는 슬라이드 만들기 */

.pro_list2 {background-color: red;
        width: 80%;
        margin: 0 auto;
        position: relative;
        height: 200px;
        display: flex;
        justify-content: center;}

.pro_list2 .left {position: absolute;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: #ccc;
                color: #fff;
                font-size: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                left: 0;
                top: 50%;
                margin-top: -10px;}

.pro_list2 .right {position: absolute;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: #ccc;
                color: #fff;
                font-size: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                right: 0;
                top: 50%;
                margin-top: -10px;}

.pro_list2 .container {background-color: yellow;
                        width: calc(220px * 4);
                        height: 200px;
                        overflow: hidden;
                        position: relative;}

.pro_list2 .container ul {display: flex;
                        position: absolute;}

.pro_list2 .container li {margin: 0 10px;
                        width: 200px;}

.pro_list2 .container img {}

.pro_list2 .container ul:nth-child(1) {left: 0;
                                        animation: ani1 40s linear infinite;}

.pro_list2 .container ul:nth-child(2) {left: 100%;
                                        animation: ani2 40s linear infinite;}



.pro_list2 .container:hover ul:nth-child(1) {animation-play-state: paused;}

.pro_list2 .container:hover ul:nth-child(2) {animation-play-state: paused;}

@keyframes ani1 {

    0% {left: 0;}

    50% {left: -100%;}

    50.00001% {left: 100%;}

    100% {left: 0;}

}


@keyframes ani2 {

    0% {left: 100%;}

    50% {left: 0;}

    100% {left: -100%;}

}

.pro_list2 .container li:hover {transform: scale(1.2);}


/* 제품소개페이지 설정 */

.story {}

.story h2 {font-size: 60px;
        text-align: center;
        letter-spacing: 20px;
        position: relative;
        padding: 20px 0 0 0;}

.story>p {text-align: center;
        padding: 30px 0;}


.story_box {display: flex;
                width: 80%;
                margin: 0 auto;
                height: 650px;
                overflow: hidden;}

.story_box>div {position: relative;
                width: 33.3333%;}

.story_box>div:nth-child(1) {background-color:green ;}

.story_box>div:nth-child(2) {background-color:yellow ;}

.story_box>div:nth-child(3) {background-color:blue ;}


.left_box {}

.left_box ul {}

.left_box li {display: flex;
                justify-content: flex-end;
                margin: 10px 0;}

.left_box .txt {}

.left_box .txt strong {text-align: right;
                        display: block;}

.left_box .txt p {width: 300px;
                text-align: right;}

.left_box i {font-size: 28px;
                width: 40px;
                height: 40px;
                border: 2px solid #fff;
                line-height:1.5;
                text-align: center;
                border-radius: 50%;
                margin-left: 20px;}



.img_box {text-align: center;
        height: 100%;}

.img_box img {width: 100%;
                max-width: 100%;
                position: relative;
                top: 100%;
                transition: all 1.5s;}

.img_box.on img {top: 0;}

.right_box {}

.right_box ul {}

.right_box li {display: flex;
                justify-content: flex-start;
                margin: 10px 0;}

.right_box .txt {}

.right_box .txt strong {text-align:left;
                        display: block;}

.right_box .txt p {width: 300px;
                text-align: left;}

.right_box i {font-size: 28px;
                width: 40px;
                height: 40px;
                border: 2px solid #fff;
                line-height: 1.5;
                text-align: center;
                border-radius: 50%;
                margin-right: 20px;}




                

/* 프로덕트 페이지설정 */
.product {background-color: beige;
        padding-top: 120px;
        padding-bottom: 80px;}

.pro001 {display: flex;
        width: 90%;
        margin: 0 auto;
        padding-bottom: 50px;
        border-bottom: #fff 2px solid;}

.pro001 .imgBox {width: 70%;}

.imgBox .bigImg {background-color: teal;
                width: 80%;
                margin: 0 auto;
                height: 400px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;}

.imgBox .bigImg img {position: absolute;
                width: 100%;
                opacity: 0;
                z-index: 1;}

.imgBox .bigImg img.on {opacity: 1;
                        z-index: 2;}

.imgBox .thumb {width: 80%;
                margin: 0 auto;
                margin-top: 20px;}

.imgBox .thumb ul {display: flex;
                justify-content: space-between;}

.imgBox .thumb li {margin: 0 5px;
                        height: 100px;
                        width: 30%;
                        overflow: hidden;}

.imgBox .thumb li:nth-child(2) {}              

.imgBox .thumb img {width: 100%;}



.pro001 .cartBox {width: 30%;}

.cartBox .infoBox {}

.cartBox .infoBox h2 {font-size: 30px;
                text-align: left;
                letter-spacing: 5px;}

.cartBox .infoBox p {font-size: 18px;}

.cartBox .count {display: flex;
                justify-content: space-between;
                padding: 10px;
                margin: 20px 0;
                flex-wrap: wrap;}

.count .num {border: 2px solid #000;}

.count .num span {display: inline-block;
                padding: 5px 20px;
                font-size: 28px;
                color: #fff;
                cursor: pointer;}

.count .num span:nth-child(1) {background-color: black;}

.count .num span:nth-child(2) {color: #000;}

.count .num span:nth-child(3) {background-color: black;}


.count .num span:nth-child(1):hover {background-color: #ccc;}

.count .num span:nth-child(3):hover {background-color: #ccc;}


.count .won {display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                font-weight: bold;
                color: rgb(140, 36, 36);}

.count .won span {font-size: 22px;
                display: inline-block;
                margin-right: 10px;}

.cartBox .cart001 {display: flex;
                width: 100%;
                justify-content: space-between;}

.cartBox .cart001 p {width: 48%;
                background-color: steelblue;
                padding: 20px;
                box-sizing: border-box;
                text-align: center;
                font-size: 18px;
                font-weight: bold;
                border-radius: 5px;
                cursor: pointer;
                }


.cartBox .cart001 p:nth-child(1) {border: 2px solid steelblue;
        background-color: transparent;}

.cartBox .cart001 p:hover {opacity: 0.8;}




/* 추천상품 설정 */
.recommend {width: 80%;
                margin: 40px auto;
                /* background-color: #ccc; */
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;}

.recommend h2 {width: 100%;
                text-align: center;
                padding: 20px 0;}

.recommend .left {width: 50px;
                height: 50px;
                background-color: #fff;
                border-radius: 50%;
                font-size: 20px;
                font-weight: bold;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #ddd;
                box-sizing: border-box;
                padding-bottom: 5px;}


.recommend .contain {width: calc(170px * 5);
                        overflow: hidden;
                        height: 100px;
                        position: relative;}

.recommend .contain ul {display: flex;
                        width: calc(170px * 8);
                        position: absolute;
                        left: -170px;
                        top: 0;
                        transition: all 0.8s;}

.recommend .contain li {width: 150px;
                        margin: 0 10px;
                        height: 100px;
                        overflow: hidden;}

.recommend .contain img {}


.recommend .right {width: 50px;
                height: 50px;
                background-color: #fff;
                border-radius: 50%;
                font-size: 20px;
                font-weight: bold;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #ddd;
                box-sizing: border-box;
                padding-bottom: 5px;}



/* 로그인페이지 설정 */
.contents.loginBig {z-index: 9999999;
                height: 100vh;
                width: 100%;
                position: relative;
                background-color: #ddd;}

.login {width: 100%;
        height: 100%;
        position: fixed;}


.login h2 {text-align: center;
        padding: 50px 0;
        cursor: pointer;}

.login .loginBox {width: 500px;
                margin: 0 auto;
                display: flex;
                justify-content: center;}

.loginBox .id {width: 200px;
                background-color: #fff;
                padding: 10px 10px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                border: 1px solid #ccc;}

.loginBox .id input {margin-left: 5px;
                        font-size: 20px;
                        color: #333;
                        border: none;
                        caret-color: red;}

.loginBox .id input::placeholder {color: #ddd;}

.loginBox .id input:focus{outline: none;}

.loginBox .pass {width: 200px;
                background-color: #fff;
                padding: 10px;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                border: 1px solid #ccc;
                border-top: none;}



.loginBox .pass input {margin-left: 5px;
        font-size: 20px;
        border: none;}

.loginBox .pass input::placeholder {color: #ddd;}

.loginBox .pass input:focus {outline: none;}

.loginBox .loginbtn {width: 200px;
        background-color: #fff;
        padding: 10px;
        border-radius: 5PX;
        margin-top: 20px;
        text-align: center;
        cursor: pointer;}

.loginBox .loginbtn input {color: aqua;
                                background-color: transparent;
                                border: none;
                                letter-spacing: 5px;}


.loginBox .loginbtn:hover {box-shadow: 2px 2px 2px #ccc;}



/* 장바구니 설정 */

.cart {width: 500px;
        height: 600px;
        background-color: #fff;
        border-radius: 5px;
        border-top-left-radius: 0;
        box-shadow: 2px 2px 5px #ccc;
        position: fixed;
        top: 120px;
        right: -500px;
        transition: all 1.5s;}

.cart h2 {position: absolute;
        width: 40px;
        height: 150px;   
        background-color: #fff;
        left: -40px;
        text-align: center;
        box-sizing: border-box;
        padding: 5px;
        padding-top: 10px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        cursor: pointer;
        color: #ccc;
        right: -500px;
        transition: all 1.5s;}

.cart.on {right: 0;}

.cartList {width: 450px;
        height: 300px;
        overflow-y: scroll;
        background-color: #ccc;
        margin: 50px auto;
        box-sizing: border-box;}

.cartList ul {padding: 0;
        margin: 0;
        list-style: none;}

.cartList li {display: flex;
                justify-content: space-around;
                align-items: center;
                margin: 10px 0;
                border-bottom: 1px solid #ddd;}

.cartList>div {width: 100px;
                height: 100px;
                background-color: #000;
                overflow: hidden;}

.cartList img {width: 100%;
                height: auto;}

.cartList p {width: 280px;}

.cartList span {display: inline-block;
                width: 20px;
                height: 20px;
                border: 1px solid #000;
                text-align: center;
                box-sizing: border-box;
                font-size: 14px;
                padding-bottom: 4px;
                cursor: pointer;}













                








