/* 언어설정 */
@charset 'utf-8';

/* 구글폰트 연결 */
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Nanum+Gothic&display=swap');

/* 전체설정 */
* {margin: 0;
    padding: 0;}
ul,ol {list-style: none;}
a {text-decoration: none;
    color: #000;}
img {border: none;
    vertical-align: bottom;}






/* 레이아웃 설정 */
#wrap {display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 auto;}

.header {display: flex;
        width: 100%;
        height: 1024px;
        background-color: yellowgreen;}

.logo {width: 30%;
        height: 100px;
        /* background-color: palevioletred;*/ }  

.menu {width: 70%;
        height: 100px;
        /* background-color: paleturquoise;*/ }  

.education {width: 100%;
            height: 320px;
            /* background-color: wheat; */
        }

.sizetype {width: 100%;
            height: 750px;
            background-color: #FFF7E0;}

.adoption {width: 100%;
            height: 920px;
            background-color: #3a9c59;
        }

.procedure {width: 100%;
            height: 1024px;
            background-color: #FFF7E0;}

.adoptionreview {width: 100%;
                height: 1024px;
                background-color: #FFF7E0;}

.find {width: 50%;
            height: 880px;
            background-color: #FFF7E0;}

.tabBar {width: 50%;
            height: 880px;
            background-color: steelblue;}

.video {width: 100%;
        height: 1000px;
        background-color: thistle;}

.structural {width: 100%;
            height: 630px;
            background-color: springgreen;}

.faq {width: 100%;
    height: 700px;
    background-color: slategray;}

.notice {width: 100%;
        height: 910px;
        background-color: slateblue;}

.location {width: 100%;
  
        background-color: skyblue;}

.footer {width: 100%;
        
        background-color: midnightblue;}


/* 내용 작성 */
/* 랜딩페이지 */
#wrap {}



.header {display: flex;
        flex-wrap: wrap;
        background-image: url(img/landing.png);
        background-repeat: no-repeat;
        background-position: center;}

.logo {width: 30%;}

.menu {width: 70%;}


.logo h1 {align-items: center;
        align-self: flex-end;
        padding-top: 5%;
        font-family: "Nanum Gothic", serif;}

.logo h1 a {color: #fff;
        font-weight: bold;
        padding: 10px 20px;}

.menu {}

.menu ul {display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;}

.menu ul li { background-color: rgba(255, 255, 255, 0.8);
              width: 1024px;
                height: 100px;}

.menu ul li a {display: block;
                padding-top: 30px;
                padding-left: 40px;
                padding-left: 10px;
                padding-right: 10px;
                font-size: 18px;
                font-family: "Nanum Gothic", serif;
                color: #292929;
                align-items: center;
                text-align: center;}

/* 입양 전 교육 */
.education {background-color: #fff7e0;
                position: relative;}

.edu_inner {text-align: center;}

.edu_inner h2 {color: #ff9900;
                text-align: center;
                padding-top: 60px;
                padding-bottom: 30px;
                font-family: "Gowun Batang", serif;
                font-size: 35px;}

.edu_inner .textBox {display:block;
                        /* width: 1100px; */
                        padding: 7px 40px;
                        box-sizing: border-box;
                        text-align: center;
                        border: 2px solid #292929;
                        border-radius: 10px;
                        background-color: #fff;
                        }

.edu_inner .textBox p {display: block;
                        text-align: center;
                        padding: 5px;
                        font-family: "Nanum Gothic", serif;
                        font-size: 18px;}

/* 동물 종류타입 */
.sizetype {display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        overflow: hidden;
        box-sizing: border-box;}

.sizetype .size_inner {
                        width: 100%;
                        box-sizing: border-box;}

.size_inner .listBox {}

.size_inner .listBox .search {margin-top: 800px;}

.size_inner .listBox .search form {position: relative;}

.size_inner .listBox .search form i {width: 20px;
                                        height: 30px;
                                        position: absolute;
                                        padding-top: 22px;
                                        padding-left: 10px;}
                                        

.size_inner .listBox .search form input {width: 30%;
                                        height: 60px;
                                        background-color: #EDEDED;
                                        border: none;
                                        border-radius: 15px;
                                        font-size: 26px;
                                        padding-left: 35px;}

.size_inner .listBox .list {margin-left: 15px;}

.size_inner .listBox .list ul {}

.size_inner .listBox .list ul li {width: 27%;
                                margin-top: 30px;
                                padding-bottom: 15px;
                                border-bottom: #FFB800 1px solid;
                                }

.size_inner .listBox .list ul li a {font-size: 20px;
                                        font-weight: normal;
                                        font-family: "Nanum Gothic", serif;
                                        padding: 5px;}

.size_inner .listBox .list ul li:hover a {font-size: 20px;
                                        font-weight: bold;
                                        font-family: "Nanum Gothic", serif;
                                        color: #FFB800;}




.size_inner .imgBox {width: 70%;
                        margin: 0;}

.size_inner .imgBox ul {display: flex;
                        position: relative;
                        flex-wrap: wrap;
                        justify-content: flex-end;}

.size_inner .imgBox ul li {width: 50%;
                        align-content: center;
                        position: relative;}

.size_inner .imgBox ul li img {width: 98%;
                                height: 220px;
                                align-items: center;
                                transform: translate(400px , -490px);}
                                
.size_inner .imgBox ul li:nth-child(odd) img {margin-right: 15px;
                                                margin-bottom: 30px;
                                                border-radius: 20px;}
                                                    
.size_inner .imgBox ul li:nth-child(even) img {margin-left: 20px;
                                                margin-bottom: 30px;
                                                border-radius: 20px;}
                                                    


.size_inner .imgBox ul li h2 {font-size: 40px;
                        font-family: "Nanum Gothic", serif;
                        width: 100%;
                        position: absolute;
                        color: #fff;
                        z-index: 1;
                        transform: translate(400px, -680px);
                        text-align: center;}
                                    


.size_inner .imgBox ul li .more {display: inline-block;
                                padding-left: 10px;
                                padding-top: 2px;
                                width: 110px;
                                height: 30px;
                                position: absolute;
                                box-sizing: border-box;
                                border-radius: 10px;
                                background-color: rgba(255, 255, 255, 0.7);
                                z-index: 2;
                                transform: translate(555px, -620px);}

.size_inner .imgBox ul li .more a {font-size: 18px;
                                text-align: center;
                                align-items: center;}

.size_inner .btn ul {}

.size_inner .btn ul li {}

.size_inner .btn ul li a {}


.size_inner .btn ul li:nth-child(1):hover {background-color: #FFB800;}
    

.size_inner .btn ul li:nth-child(2):hover {background-color: #FFB800;}
    

.size_inner .btn ul li i {margin-left: 11px;
                        margin-top: 9px;}


.size_inner .btn ul li:nth-child(1) {width: 35px;
                        height: 35px;
                        position: absolute;
                        background-color: #FFEDD1;
                        border-radius: 100px;
                        transform: translate(1300px , -780px);}

.size_inner .btn ul li:nth-child(2) {width: 35px;
                        height: 35px;
                        position: absolute;
                        background-color: #FFEDD1;
                        border-radius: 100px;
                        transform: translate(1300px , -720px);}
    
    



/*  입양 동물 안내*/ 

.adoption {
        /* background-color: #FFF7E0; */
        display: flex;
        position: relative;
        
}

.adop_inner {background-color: #FFEDD1;
                display: block;
                width: 100%;
                height: 720px;
                border-radius: 30px;
                box-sizing: border-box;
                overflow: hidden;
                position: absolute;
                /* top: 100px;
                left: 360px; */
                transform: translate(360px , 100px);}

.adop_inner .txtBox {}

.adop_inner .txtBox h2 {font-size: 45px;
                        font-weight: bold;
                        font-family: "Gowun Batang", serif;
                        color: #ff9900;
                        padding-left: 100px;
                        padding-top: 200px;
                        padding-bottom: 10px;}

.adop_inner .txtBox p {font-size: 22px;
                        font-weight: normal;
                        font-family: "Nanum Gothic", serif;
                        color: #ff9900;
                        padding-left: 100px;
                        padding-top: 10px;}

.adop_inner .imgBox {display: block;
                        position: relative;}

.adop_inner .imgBox .left {width: 70px;
                                height: 70px;
                                position: absolute;
                                top: 215px;
                                left: 440px;
                                background-color: rgba(255, 255, 255, 0.8);
                                border-radius: 100px;}

.adop_inner .imgBox .left:hover {background-color: #fff;}

.adop_inner .imgBox .left i {margin-top: 26px;
                                margin-left: 28px;}

.adop_inner .imgBox .right {width: 70px;
                                height: 70px;
                                position: absolute;
                                top: 215px;
                                left: 1100px;
                                background-color: rgba(255, 255, 255, 0.8);
                                border-radius: 100px;}

.adop_inner .imgBox .right:hover {background-color: #fff;}

.adop_inner .imgBox .right i {margin-top: 26px;
                                margin-left: 28px;}

.adop_inner .imgBox .img_con ul {display: flex;
                                margin-left: 450px;
                                margin-top: -350px;}

.adop_inner .imgBox .img_con ul li a {display: block;
                                        border: solid 1px #000;
                                        border: none;
                                        background-color: #fff;
                                        width: 95%;
                                        height: 550px;
                                        margin-left: 15px;
                                        border-radius: 10px;}

.adop_inner .imgBox .img_con ul li a img {display: block;
                                                width: 90%;
                                                height: 410px;
                                                margin-left: 16px;
                                                padding-top: 15px;}

.adop_inner .imgBox .img_con ul li a h2 {font-size: 24px;
                                        font-family: "Nanum Gothic", serif;
                                        padding-top: 15px;
                                        padding-left: 20px;}

.adop_inner .imgBox .img_con ul li .year {font-size: 12px;
                                        font-family: "Nanum Gothic", serif;
                                        padding-top: 60px;
                                        padding-left: 300px;}

/* 입양신청 절차 안내 */
.procedure {}

.procedure h2 {color: #ff9900;
                font-size: 36px;
                font-family: "Gowun Batang", serif;
                text-align: center;
                margin-top: 100px;
                font-size: 30px;}

.procedure .midline {text-align: center;
                font-size: 20px;}

.procedure .midline em {color: #ff9900;
                font-weight: bold;
                font-style: normal;}

.pro_inner {background-color: #fff;
        width: 1515px;
        height: 760px;
        border-radius: 20px;
        margin-left: 202.5px;
        margin-top: 50px;}

.pro_inner .text_box {}

.pro_inner .text_box ul {display: flex;
                        position: relative;}

.pro_inner .text_box ul li {}

.pro_inner .text_box ul li:nth-child(1) {display: block;
                                position: absolute;
                                border: #FFEDD1 1px solid;
                                border-radius: 15px;
                                background-color: #FFEDD1;
                                width: 440px;
                                height: 260px;
                                margin-top: 50px;
                                margin-left: 60px;}

.pro_inner .text_box ul li:nth-child(2) {display: block;
                                position: absolute;
                                border: #FFD28F 1px solid;
                                border-radius: 15px;
                                background-color: #FFD28F;
                                width: 440px;
                                height: 260px;
                                margin-top: 50px;
                                margin-left: 535px;}

.pro_inner .text_box ul li:nth-child(3) {display: block;
                                position: absolute;
                                border: #FFEDD1 1px solid;
                                border-radius: 15px;
                                background-color: #FFEDD1;
                                width: 440px;
                                height: 260px;
                                margin-top: 50px;
                                margin-left: 1010px;}

.pro_inner .text_box ul li:nth-child(4) {display: block;
                                position: absolute;
                                border: #FFD28F 1px solid;
                                border-radius: 15px;
                                background-color: #FFD28F;
                                width: 440px;
                                height: 260px;
                                margin-top: 340px;
                                margin-left: 60px;}

.pro_inner .text_box ul li:nth-child(5) {display: block;
                                position: absolute;
                                border: #FFEDD1 1px solid;
                                border-radius: 15px;
                                background-color: #FFEDD1;
                                width: 440px;
                                height: 260px;
                                margin-top: 340px;
                                margin-left: 535px;}

.pro_inner .text_box ul li:nth-child(6) {display: block;
                                position: absolute;
                                border: #FFD28F 1px solid;
                                border-radius: 15px;
                                background-color: #FFD28F;
                                width: 440px;
                                height: 260px;
                                margin-top: 340px;
                                margin-left: 1010px;}

.pro_inner .text_box ul li h3 {font-size: 18px;
                                font-family: "Nanum Gothic", serif;
                                text-align: center;
                                margin-top: 60px;}

.pro_inner .text_box ul li p {font-size: 16px;
                                font-family: "Nanum Gothic", serif;
                                text-align: center;
                                margin-top: 35px;}


.pro_inner .text_box ul li h3 em {font-size: 100px;
                                font-weight: bolder;
                                font-family: "Gowun Batang", serif;
                                position: absolute;
                                top: -10px;
                                left: 30px;
                                color: rgba(255, 255, 255, 0.7);}

.pro_inner .text_box .button {display: block;
                        border: #ff9900 2px solid;
                        position: absolute;
                        width: 13%;
                        height: 60px;
                        margin-top: 640px;
                        margin-left: 640px;
                        text-align: center;
                        background-color: #FFEDD1;}

.pro_inner .text_box .button a {display: block;
                                color: #ff9900;
                                font-size: 20px;
                                font-weight: bold;
                                font-family: "Nanum Gothic", serif;
                                padding: 18px;}

.pro_inner .text_box .button:hover a {}


/* 입양후기 */
.adoptionreview {position: relative;}

.adoptionreview .bg {position: absolute;
                        border: #FFEDD1 1px solid;
                        width: 1685px;
                        height: 620px;
                        background-color: #FFEDD1;
                        border-top-right-radius: 370px;
                        border-bottom-right-radius: 370px;
                        top: 250px;
                        z-index: 1;}

.adoptionreview .imgBox {}

.adoptionreview .imgBox ul {display: flex;}

.adoptionreview .imgBox ul li {}

.adoptionreview .imgBox ul li a {display: block;
        position: absolute;
        border: solid 1px #000;
        border: none;
        background-color: #fff;
        width: 230px;
        height: 370px;
        margin-left: 15px;
        border-radius: 10px;
        z-index: 2;}

.adoptionreview .imgBox ul li:nth-child(1) {position: absolute;
                                                top: 100px;
                                                left: 650px;}

.adoptionreview .imgBox ul li:nth-child(2) {position: absolute;
                                                top: 100px;
                                                left: 1000px;}

.adoptionreview .imgBox ul li:nth-child(3) {position: absolute;
                                                top: 580px;
                                                left: 650px;}

.adoptionreview .imgBox ul li:nth-child(4) {position: absolute;
                                                top: 580px;
                                                left: 1000px;}



.adoptionreview .imgBox ul li a img {display: block;
                                        width: 200px;
                                        height: 240px;
                                        margin-left: 15px;
                                        padding-top: 15px;}

.adoptionreview .imgBox ul li a .text {font-size: 14px;
                                        font-weight: normal;
                                        font-family: "Nanum Gothic", serif;
                                        margin-top: 5px;
                                        margin-left: 15px;}

.adoptionreview .imgBox ul li a .tag {font-size: 13px;
                                        font-weight: normal;
                                        font-family: "Nanum Gothic", serif;
                                        color: #665E99;
                                        margin-top: 3px;
                                        margin-left: 15px;}

.adoptionreview .imgBox ul li a .time {font-size: 12px;
                                        font-weight: normal;
                                        font-family: "Nanum Gothic", serif;
                                        margin-top: 6px;
                                        margin-left: 150px;}

.adoptionreview .imgBox ul li a .icon {display: flex;}

.adoptionreview .imgBox ul li a .icon img {display: flex;
                                        width: 15px;
                                        height: 15px;
                                        margin-top: -8px;}

.adoptionreview .titleBox {display: block;
                                font-size: 50px;
                                font-weight: bold;
                                font-family: "Gowun Batang", serif;
                                color: #ff9900;
                                position: absolute;
                                z-index: 3;
                                top: 500px;
                                left: 1400px;}

/* 반려동물 찾기 */
.find {}

.find_inner {}

.find_inner .findBox {}

.find_inner .findBox h2 {color: #ff9900;
                        font-size: 32px;
                        margin-top: 200px;
                        margin-left: 250px;}

.find_inner .findBox .form {background-color: #fff;
                                width: 70%;
                                height: 450px;
                                border-radius: 15px;
                                margin-top: 20px;
                                margin-left: 250px;
                                border: dashed #ff9900 4px;}

.find_inner .findBox .form ul {}

.find_inner .findBox .form ul li {}

.find_inner .findBox .form ul li .name {}



/* 펫티켓 및 펫프렌들리 */
.tabBar {}

.tab_inner {}

.tab_inner .petBox {}

.tab_inner .petBox .title {}

.tab_inner .petBox .title ul {}

.tab_inner .petBox .title ul li {}

.tab_inner .petBox .content {}











/* 미디어쿼리 구간 설정 ########################################### */


/* 데스크탑 구간 */
/* 1280px 이상일 때 */
@media(min-width:1280px) {
        .edu_inner, .size_inner, .adop_inner {max-width: 1200px;
        margin: 0 auto;}
}



/* 태블릿 구간 */
/* 834px ~ 403px 일 때 */
@media(max-width:834px) and (min-width:403px) {

#wrap {width: 90%;}

.header {display: flex;
        width: 100%;
        height: 720px;}

.logo {width: 100%;
        height: 100px;}

.menu {width: 100%;
        height: 100px;}

.education {width: 100%;
            height: 370px;}

.sizetype {width: 100%;
            height: 480px;}

.adoption {width: 100%;
            height: 770px;}

.procedure {width: 100%;
            height: 950px;}

.adoptionreview {width: 100%;
                height: 1220px;}

.find {width: 100%;
            height: 680px;}

.tabBar {width: 100%;
            height: 670px;}

.video {width: 100%;
        height: 720px;}

.structural {width: 100%;
            height: 550px;}

.faq {width: 100%;
    height: 660px;}

.notice {width: 100%;
        height: 720px;}

.location {width: 100%;
        height: 820px;}

.footer {width: 100%;
     }

}

/* 모바일 구간 */
/* 402px 이하일 때 */
@media(max-width:402px) {
    #wrap {width: 100%;}

.header {display: flex;
        width: 100%;
        height: 870px;}

.logo {width: 100%;
        height: 110px;}

.menu {width: 70%;
        height: 100px;
        background-color: paleturquoise;
        display: none;}

.education {width: 100%;
            height: 210px;}

.sizetype {width: 100%;
            height: 570px;
            display: none;}

.adoption {width: 100%;
            height: 570px;}

.procedure {width: 100%;
            height: 560px;}

.adoptionreview {width: 100%;
                height: 560px;}

.find {width: 100%;
            height: 400px;}

.tabBar {width: 100%;
            height: 480px;}

.video {width: 100%;
        height: 350px;}

.structural {width: 100%;
            height: 250px;}

.faq {width: 100%;
    height: 350px;}

.notice {width: 100%;
        height: 470px;}

.location {width: 100%;
        height: 430px;}

.footer {width: 100%;
        height: 170px;}

}








